.spotify-auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #121212;
  color: white;
}

.spotify-auth-title {
  font-size: 48px;
  margin-bottom: 40px;
}

.spotify-auth-button {
  padding: 16px 32px;
  font-size: 18px;
  background-color: #1db954;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
